<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChargingLocations">

    <insert id = "insert" parameterType = "net.martincharlesworth.Location">
        INSERT INTO public.CHARGING_LOCATIONS (id, site_name, site_address, postcode, lat, long, country, loc_operator, company )
        VALUES (#{id}, #{name}, #{address}, #{postcode}, #{latitude}, #{longitude}, #{country}, #{operator}, #{company});
    </insert>

</mapper>