<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mobileApp">

    <select id = "get_user" resultMap="user_result_mapper">
        select * from mobile_app.users where email = #{email} and password = #{password};
    </select>

    <insert id= "create_user" parameterType="alexcharlesworth.rest.pojos.User">
        insert into mobile_app.users (email, first_name, surname, password)
        values (#{email},#{first_name},#{surname},#{password});
    </insert>

    <resultMap id = "user_result_mapper" type = "alexcharlesworth.rest.pojos.User">
        <result property = "email" column = "email"/>
        <result property = "first_name" column = "first_name"/>
        <result property = "surname" column = "surname"/>
    </resultMap>

    <select id = "get_route" resultMap="route_result_mapper">
        select * from mobile_app.routes where name = #{name};
    </select>

    <resultMap id="route_result_mapper" type="alexcharlesworth.rest.pojos.Route">
        <result property = "name" column = "name"/>
        <result property = "user_email" column = "user_email"/>
        <result property = "waypoints" column = "waypoints"/>

    </resultMap>

</mapper>