<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="aws">
        <environment id="aws">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://database-1.cj8qm886q9x0.us-west-2.rds.amazonaws.com:5432/postgres"/>
                <property name="username" value="postgres"/>
                <property name="password" value="18FirTreeGardens!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="MobileAppMapper.xml"/>
    </mappers>
</configuration>